.header {
    display: flex;
    background-image: url("./assets/Header.png");
    height: 781px;
    /* text-align: center; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.header h1 {
    text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
    font-weight: 100;
    letter-spacing: 1rem;
}

.header h2 {
    /* text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black; */
    font-weight: 100;
    letter-spacing: .3rem;
}

.header-btn {
    background-color: yellow;
    font-family: 'Raleway', sans-serif;
    margin-top: 5rem;
    padding: 1.2rem 3rem;
    letter-spacing: .3rem;
    border: 0;
    /* text-shadow: 0; */
}

.container {
    display: flex;
    flex-direction: column;
    font-family: Raleway;
}

.mountain {
    /* border: 1px solid black; */
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-align: center;
    padding: 7rem 0;
    margin: 0;
}

.mountain p {
    line-height: 2;
}

.mount-img {
    margin-bottom: 3rem;
}

.axesImg {
    width: 40px;
}

.services {
    padding: 2rem 0;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicesTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: center;
}

.shadowH1 {
    text-shadow: 2px 2px grey;
}

.servicesMiddle {
    display: flex;
    width: 70%;
}

.serviceItem {
    background-color: white;
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
}

.serviceItem h3 {
    font-size: 16px;
}

.serviceItem p {
    font-size: 13px;
}

.servicesDown {
    display: flex;
    width: 70%;
}


/* added info start*/

.branding {
    display: grid;
    grid-template-columns: repeat(6, 238px);
    grid-template-rows: 225px;
    overflow: hidden;
}

.branding img {
    height: 240px;
    width: 238px;
}

.branding-img3 {
    grid-row: 1/2;
    grid-column: 3/4;
}

.branding-yellow-div {
    height: 188px;
    width: 180px;
    background-color: yellow;
    grid-row: 1/2;
    grid-column: 3/4;
    opacity: 0.85;
    margin-top: 1.5rem;
    margin-left: 29px;
    /* z-index: 1; */
}

.branding-text-box {
    height: 144px;
    width: 215px;
    background-color: white;
    grid-row: 1/2;
    grid-column: 3/4;
    z-index: 1;
    margin-top: 3rem;
    margin-left: 12px;
    text-align: center;
}

.branding-text-box p {
    font-size: 12px;
    font-weight: 100;
    line-height: 1.5;
}

.like {
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
}

.like .header-btn {
    font-size: 10px;
    padding: 1.2rem;
}

.video {
    height: 330px;
    position: relative;
    /* background-color: red; */
}

.video img {
    object-fit: fill;
    width: 100%;
    height: 330px;
}

.video .header-btn {
    position: absolute;
    left: calc(50% - 135px);
    top: 3.5rem;
}


/* added info end*/

.progressBarBack {
    background-color: #F3F3F3;
    height: 4px;
    width: 100%;
    border-radius: 10%;
}

.progressBarFront {
    background-color: #FDE502;
    height: 4px;
    border-radius: 10%;
}

.serviceItem {
    flex-basis: 15%;
}

.counters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: black;
    height: 240px;
    align-items: center;
}

.counters>button {
    margin-left: 2%;
    height: 70px;
    flex-basis: 15%;
}

.portfolio {
    font-family: 'Raleway';
    padding: 2rem 0;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.portfolio h1 {
    font-weight: 600;
    letter-spacing: 1rem;
}

.portfolio>p {
    font-weight: 100;
}

.axes-img-portfolio {
    margin-left: -50px;
    height: 45px;
    width: 70px;
}

.portfolio-links {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 43px;  */
    /* could be centered better */
}

.portfolio-links>a {
    color: black;
    text-decoration: none;
    margin: 6px 0px;
    padding: 10px 50px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 0.05em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.portfolio-links>svg {
    margin: 6px 25px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: black;
    height: 387px;
    width: 100%;
}

footer>* {
    color: #FFFFFF;
}

.sp {
    margin-top: 40px;
    margin-right: 10px;
    flex-basis: 20%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.sp>p {
    font-family: Raleway;
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 0.05em;
}

.links,
.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    margin-top: 80px;
}

.links>a,
.about>a,
.thin-text {
    color: white;
    text-decoration: none;
    margin: 6px 0px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 0.05em;
}

.contact {
    display: flex;
    flex-direction: column;
    color: white;
    flex-basis: 20%;
    margin-top: 80px;
    margin-left: 5%;
}

button.email {
    background: yellow;
    border-radius: 25px;
    padding: 10px;
    margin-top: 52px;
    width: 372px;
    height: 45px;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: flex-start;
}

.icons>svg {
    margin-top: 30px;
    margin-right: 10px;
    /* padding: 5px; */
}

.teamTop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamTopDetails {
    flex-basis: 100%;
    width: 70%;
    text-align: center;
    padding: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.teamCards {
    display: flex;
    justify-content: center;
}

.teamCard {
    border: solid 1px lightgray;
    position: relative;
    flex-wrap: wrap;
    flex-basis: 15%;
    margin: 1rem;
    width: 10em;
    text-align: center;
}

.cardName {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDE502;
    opacity: 90%;
    width: 100%;
    height: 2rem;
    position: absolute;
    top: 11rem;
}

.teamCard img {
    max-width: 10rem;
    max-height: 100%;
}

.yellow_background {
    position: relative;
    top: 15rem;
    background-color: #FDE502;
    height: 10rem;
    z-index: -1;
}

.teamBottom {
    font-family: 'Raleway';
    /* display: grid; */
    position: relative;
    height: 40rem;
    /* grid-template-columns: repeat(5,1fr); */
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* justify-content: center;
     align-content: center; */
}

.teamBottom img {
    position: absolute;
    left: 49rem;
    top: 18rem;
    height: 20rem;
    width: 30rem;
    /* grid-row: 2/3;
    grid-column: 3/4; */
}

.blackText {
    background-color: black;
    color: white;
    position: absolute;
    left: 14rem;
    top: 2rem;
    padding: 3rem;
    line-height: 20px;
    /* grid-row: 1/2;
     grid-column: 2/3; */
    height: 14rem;
    width: 24rem;
    font-size: 12px;
}

.rightText {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    width: 20rem;
    position: absolute;
    left: 50rem;
    top: 5rem;
    text-align: center;
    /* grid-row: 1/2;
    grid-column: 3/4; */
}

.textName1 {
    font-size: 13px;
    position: relative;
    top: -1rem;
    align-self: flex-end;
    font-weight: bolder;
    font-style: italic;
}

.textName2 {
    font-size: 13px;
    position: relative;
    top: -1rem;
    align-self: flex-start;
    font-weight: bold;
    font-style: italic;
}

.bottomText {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    width: 20rem;
    position: absolute;
    left: 20rem;
    top: 25rem;
    background-color: white;
    text-align: center;
    /* grid-row: 2/3;
    grid-column: 2/3; */
}